<form #incomeExpenseForm="ngForm" (ngSubmit)="onSubmitIncomeExpense(incomeExpenseForm.value)">
    <div id="income-expense-page" class="border border-secondary bg-light m-5 p-2">
        <div id="quarantine-control-measure-box">
            <h2 class="text-center fs-3">
                ১০. কৃষকের আয় ব্যায়ের হিসাব<br>
                10. Farmer's Income Expenditure Account
            </h2>
        </div>
    </div>
    <div class="m-4 p-4">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="text-center" *ngFor="let head of tableHead">{{ head }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let row of rowData; let i = index">
                        <td class="text-center">
                            <ng-container >
                                <span > {{ i + 1 }}</span>
                            </ng-container>
                        </td>
                        <td><span>{{row.item}}</span></td>
                        <td class="text-center">
                            <ng-container [ngSwitch]="i">
                                <input type="number" for="lease" *ngSwitchCase="0" name="leaseCost" ngModel>
                                <input type="number" for="soil-test" *ngSwitchCase="1" name="soilTestCost" ngModel>
                                <input type="number" for="land-preparation" *ngSwitchCase="2" name="landPreparationCost" ngModel>
                                <input type="number" for="lease" *ngSwitchCase="3" name="seedCost" ngModel>
                                <input type="number" for="lease" *ngSwitchCase="4" name="fertilizerCost" ngModel>
                                <input type="number" for="lease" *ngSwitchCase="5" name="irrigationCost" ngModel>
                                <input type="number" for="lease" *ngSwitchCase="6" name="interCulturalCost" ngModel>
                                <input type="number" for="lease" *ngSwitchCase="7" name="laborCost" ngModel>
                                <input type="number" for="lease" *ngSwitchCase="8" name="transportCost" ngModel>
                                <input type="number" for="lease" *ngSwitchCase="9" name="otherCost" ngModel>
                                <span *ngSwitchCase="10"></span>
                                <input type="number" for="lease" *ngSwitchCase="11" name="totalProduction" ngModel>
                                <input type="number" for="lease" *ngSwitchCase="12" name="totalSale" ngModel>
                                <span *ngSwitchCase="13"></span>
                                <!-- <span *ngSwitchDefault>Dose {{ i + 1 }}</span> -->
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="text-center mb-4">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
