<form #cropsHarvestingForm="ngForm" (ngSubmit)="onSubmitCropsHaresting(cropsHarvestingForm.value)">
    <div id="crops-harvesting-page" class="border border-secondary bg-light m-5 p-2">
        <div id="crops-harvesting-box">
            <h2 class="text-center fs-3">
                ৭. ফসল সংগ্রহ<br>
                7. Crops Harvesting 
            </h2>
        </div>
        <hr>
        <div id="field-hygenic-box" class="container text-center w-50">
            <div class="row bg-success-subtle">
                <div class="col border border-secondary border-end-0 p-2">
                    <span class="fs-6">মাঠের হাইজেনিক</span>
                </div>
                <div class="col border border-secondary p-2">
                    <span class="fs-6">Field Sanitation</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between single-info-line mt-4 mb-2">
            <div class="form-check">
                <span>&#x2022; ফসল সংগ্রহের আগে নিচের ধাপগুলি সঠিকভাবে অনুসরণ করা হয়েছে কিনা-</span><br>
                <span>Before harvesting did following steps have taken?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isFollowingStepTaken" ngModel>
                    <label class="form-check-label" for="followed-below-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isFollowingStepTaken" ngModel>
                    <label class="form-check-label" for="followed-below-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; সম্ভাব্য সংক্রমিত উৎস চিহ্নিতকরণ এবং রোধের উপযুক্ত ব্যবস্থা নিশ্চিতকরন</span><br>
                <span>Identification of source of contamination and assuring control management</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isIdentificationSource" ngModel>
                    <label class="form-check-label" for="contamination-identified-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isIdentificationSource" ngModel>
                    <label class="form-check-label" for="contamination-identified-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; উপযুক্ত ফিল্ড স্যানিটেশন ব্যবস্থা নিশ্চিতকরন</span><br>
                <span>Assured proper field sanitation facility</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isPoperSanitation" ngModel>
                    <label class="form-check-label" for="proper-sanitation-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isPoperSanitation" ngModel>
                    <label class="form-check-label" for="proper-sanitation-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022;ওয়ার্কার টয়লেট ফ্যাসিকিটি নিশ্চিতকরন</span><br>
                <span>Assured worker toilet facility</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isToiletFacility" ngModel>
                    <label class="form-check-label" for="worker-toilet-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isToiletFacility" ngModel>
                    <label class="form-check-label" for="worker-toilet-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!--------------------------
        Harvest at Field Box
    --------------------------->

    <div class="border border-secondary bg-light m-5 p-2">
        <div id="harvest-field-box" class="container text-center w-50">
            <div class="row bg-success-subtle">
                <div class="col border border-secondary border-end-0 p-2">
                    <span class="fs-6">মাঠে সংগ্রহ</span>
                </div>
                <div class="col border border-secondary p-2">
                    <span class="fs-6">Harvest at Field</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between single-info-line mt-4 mb-2">
            <div class="form-check">
                <span>&#x2022;মাঠে সংগৃহীত ফসলের নমুনায় এমআরএল পরীক্ষা করা হয়েছে কিনা-</span><br>
                <span>Does MRL sample test is done for the field products?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isMRLtest" ngModel>
                    <label class="form-check-label" for="mrl-test-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isMRLtest" ngModel>
                    <label class="form-check-label" for="mrl-test-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022;মাঠে সংগ্রহীত ফসলের নমুনায় এমআরএল পরীক্ষায় কীটনাশকের মাত্রা কত ছিল</span><br>
                <span>What was the level of insecticide found at MRL test in the products?</span>
            </div>
            <div class="flex-container">
                <div class="input-group mb-3 me-5 col">
                    <span class="input-group-text">পিপিএম<br>
                        ppm</span>
                    <input type="number" class="form-control" name="insecticideLevel" ngModel>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-4 mb-2">
            <div class="form-check">
                <span>&#x2022;সংগ্রহের আগে পরিপক্বতার ইনডেক্স ব্যবহার করা হয়েছে কিনা-</span><br>
                <span>Before harvesting, does maturity index used?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="maturityIndexUsed" ngModel>
                    <label class="form-check-label" for="maturity-index-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="maturityIndexUsed" ngModel>
                    <label class="form-check-label" for="maturity-index-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-4 mb-2">
            <div class="form-check">
                <span>&#x2022;সংগৃহীত ফসল যে কন্টেইনারে রাখা হবে তা হাইজেনিক করা হয়েছে কিনা-</span><br>
                <span>The container used for keeping harvested product, hygenic or not?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isContainerHygienic" ngModel>
                    <label class="form-check-label" for="container-hygenic-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isContainerHygienic" ngModel>
                    <label class="form-check-label" for="container-hygenic-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; ফসল সংগ্রহের সময় কি ছিল-</span><br>
                <span>Which time of the day the crop harvested?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Morning"
                        name="cropHarvestedTime" ngModel>
                    <label class="form-check-label" for="white-bag">
                        <span> সকাল <br>
                            Morning</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Afternoon"
                        name="cropHarvestedTime" ngModel>
                    <label class="form-check-label" for="brown-bag">
                        <span>দুপুর<br>
                            Afternoon</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Evening"
                        name="cropHarvestedTime" ngModel>
                    <label class="form-check-label" for="brown-bag">
                        <span>বিকাল<br>
                            Evening</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; ফসল সংগ্রহের জন্য ব্যবহার করা হয়েছে</span><br>
                <span>Materials used for harvesting-</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Crates"
                        name="materials" ngModel>
                    <label class="form-check-label" for="crates">
                        <span> ক্রেট <br>
                            Crates</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Others"
                        name="materials" ngModel>
                    <label class="form-check-label" for="others-material">
                        <span>অন্যান্য<br>
                            Others</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022;ফসল সংগ্রহের সময় কন্টেইনার মাটিতে স্পর্শ করেছে কিনা-</span><br>
                <span>Does container on soil level during crop harvesting?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="inContainerOnSoilLevel" ngModel>
                    <label class="form-check-label" for="container-soil-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="inContainerOnSoilLevel" ngModel>
                    <label class="form-check-label" for="container-soil-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022;ফসল সংগ্রহের আগে স্থানীয় কৃষি বিভাগের সাথে যোগাযোগ করা হয়েছে কিনা-</span><br>
                <span>Does any liasion maintained with local DAE before crop harvesting</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="DAEliaison" ngModel>
                    <label class="form-check-label" for="DAE-liasion-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="DAEliaison" ngModel>
                    <label class="form-check-label" for="DAE-liasion-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; ফসল সংগ্রহের করে প্রাথমিক অবস্থায় রাখা হয়েছিল- </span><br>
                <span>After crop harvesting, primarily stored on-</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Shaded"
                        name="primarilyStord" ngModel>
                    <label class="form-check-label" for="shaded">
                        <span> ক্রেট <br>
                            Crates</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Sunny"
                        name="primarilyStord" ngModel>
                    <label class="form-check-label" for="sunny">
                        <span>অন্যান্য<br>
                            Others</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022;ফিল্ড লেভেলে প্রাথমিক গ্রেডিং করা হয়েছিল কিনা-</span><br>
                <span>Did primary grading complete on field level?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="primaryGrading" ngModel>
                    <label class="form-check-label" for="field-grading-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="primaryGrading" ngModel>
                    <label class="form-check-label" for="field-grading-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022;সবজি উত্তোলনের সময় গ্লাভস এবং এপ্রন ব্যবহার করা হয়েছিল কিনা-</span><br>
                <span>Did hand gloves and apron used for crop harvesting?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isGlovesApronUsed" ngModel>
                    <label class="form-check-label" for="gloves-apron-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isGlovesApronUsed" ngModel>
                    <label class="form-check-label" for="gloves-apron-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-----------------------
         Vegetable Box
    ------------------------>

    <div class="border border-secondary bg-light m-5 p-2">
        <div id="vegetable-box" class="container text-center w-50">
            <div class="row bg-success-subtle">
                <div class="col border border-secondary border-end-0 p-2">
                    <span class="fs-6">সবজি</span>
                </div>
                <div class="col border border-secondary p-2">
                    <span class="fs-6">Vegetables</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between single-info-line mt-4 mb-2">
            <div class="form-check">
                <span>&#x2022; সবজি উত্তোলনের সময় ছুরি ব্যবহার করা হয়েছে কিনা-</span><br>
                <span>Did sharp knife used during crop harvesting?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isKnifeUsed" ngModel>
                    <label class="form-check-label" for="knife-used-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isKnifeUsed" ngModel>
                    <label class="form-check-label" for="knife-used-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; ব্যবহৃত টুল হাইজেনিক ছিল কিনা-</span><br>
                <span>Was the used tool hygenic?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isHygienicToolUsed" ngModel>
                    <label class="form-check-label" for="tool-hygenic-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isHygienicToolUsed" ngModel>
                    <label class="form-check-label" for="tool-hygenic-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; সব্জির গায়ে যাতে আঘাত না লাগে সে ব্যবস্থা ছিল কিনা-</span><br>
                <span>Was there any measure for protecting vegetables from injury?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isInjuryProtection" ngModel>
                    <label class="form-check-label" for="injury-protection-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isInjuryProtection" ngModel>
                    <label class="form-check-label" for="injury-protection-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-----------------------
            Mango Box
    ------------------------>

    <div class="border border-secondary bg-light m-5 p-2">
        <div id="mango-box" class="container text-center w-50">
            <div class="row bg-success-subtle">
                <div class="col border border-secondary border-end-0 p-2">
                    <span class="fs-6">আম</span>
                </div>
                <div class="col border border-secondary p-2">
                    <span class="fs-6">Mango</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between single-info-line mt-4 mb-2">
            <div class="form-check">
                <span>&#x2022; আম সংগ্রহে নির্দিষ্ট টুলের মাধ্যমে করা হয়েছে কিনা-</span><br>
                <span>Did specific tools used for harvesting of mango?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isToolsUsed" ngModel>
                    <label class="form-check-label" for="mango-tools-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isToolsUsed" ngModel>
                    <label class="form-check-label" for="mango-tools-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; আম সংগ্রহ করে আমের কস সঠিকভাবে ঝরানো হয়েছে কিনা-</span><br>
                <span>Did the latex secrete properly after harvesting of mango?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isLatexSecrete" ngModel>
                    <label class="form-check-label" for="latex-secrete-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isLatexSecrete" ngModel>
                    <label class="form-check-label" for="latex-secrete-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; সংগৃহীত আম সুন্দরভাবে কন্টেইনারে সাজানো হয়েছে কিনা-</span><br>
                <span>Was the harvested mango arranged in container?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isArrangedInContainer" ngModel>
                    <label class="form-check-label" for="arranged-container-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isArrangedInContainer" ngModel>
                    <label class="form-check-label" for="arranged-container-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; সংগৃহীত আম আলাদা আলাদা ভাবে রাখা হয়েছে কিনা-</span><br>
                <span>Did collected mangoes keep separately?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isKeepSeparately" ngModel>
                    <label class="form-check-label" for="separare-bagging">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isKeepSeparately" ngModel>
                    <label class="form-check-label" for="separare-nonbagging">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!----------------------
        Betel Leaf Box
    ----------------------->

    <div class="border border-secondary bg-light m-5 p-2">
        <div id="betel-leaf-box" class="container text-center w-50">
            <div class="row bg-success-subtle">
                <div class="col border border-secondary border-end-0 p-2">
                    <span class="fs-6">পান</span>
                </div>
                <div class="col border border-secondary p-2">
                    <span class="fs-6">Betel Leaf</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between single-info-line mt-4 mb-2">
            <div class="form-check">
                <span>&#x2022; পান উত্তোলন সর্বাধিক হাইজেনিক উপায়ে করা হয়েছিল কিনা-</span><br>
                <span>Did the maximum level of hygenic procedures applied during betel leaf harvesting?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isMaximumHygienic" ngModel>
                    <label class="form-check-label" for="maximum-hygiene-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isMaximumHygienic" ngModel>
                    <label class="form-check-label" for="maximum-hygiene-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; উত্তোলনের সময় কন্টেইনার ব্যাক্টেরিয়ামুক্ত বলে নিশ্চিত হওয়া গেছে কিনা-</span><br>
                <span>Does the harvested container of betel leaf assured the bacteria free container?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isBacteriaFree" ngModel>
                    <label class="form-check-label" for="bactria-free-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isBacteriaFree" ngModel>
                    <label class="form-check-label" for="bacteria-free-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; পান উত্তোলন করে সরাসরি কন্টেইনারে রাখা হয়েছিল কিনা-</span><br>
                <span>Did the harvested betel leaf directly put inside the bacteria free container?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isDirectlyPut" ngModel>
                    <label class="form-check-label" for="directly-put-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isDirectlyPut" ngModel>
                    <label class="form-check-label" for="directly-put-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; সংগ্রহের পর পোর্টেবল পানি ব্যবহার করা হয়েছিল কিনা-</span><br>
                <span>Did distilled water applied after harvesting of betel leaf?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isDistilledWaterApplied" ngModel>
                    <label class="form-check-label" for="distilled-water-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isDistilledWaterApplied" ngModel>
                    <label class="form-check-label" for="distilled-water-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; সালমোনেলা যাতে পানে সংক্রমিত না হয় সেজন্য সর্বোচ্চ সতর্কতা অবলম্বন করা হয়েছে কিনা-</span><br>
                <span>Did maximum level of cautions taken avoiding infection of salmonella bacteria?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isCautionTaken" ngModel>
                    <label class="form-check-label" for="caution-taken-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isCautionTaken" ngModel>
                    <label class="form-check-label" for="caution-taken-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-----------------------------------
        Local Collection Center Box
    ------------------------------------>

    <div class="border border-secondary bg-light m-5 p-2">
        <div id="collection-center-box" class="container text-center w-50">
            <div class="row bg-success-subtle">
                <div class="col border border-secondary border-end-0 p-2">
                    <span class="fs-6">লোকাল কালেকশন সেন্টার</span>
                </div>
                <div class="col border border-secondary p-2">
                    <span class="fs-6">Local Collection Center</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between single-info-line mt-4 mb-2">
            <div class="form-check">
                <span>&#x2022; লোকাল কালেকশন সেন্টার আছে কিনা-</span><br>
                <span>Have any local collection center?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isLocalCollectionCenter" ngModel>
                    <label class="form-check-label" for="collection-center-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isLocalCollectionCenter" ngModel>
                    <label class="form-check-label" for="collection-center-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; সংগৃহীত ফসল লোকাল কালেকশন সেন্টারে আনা হয়েছে কিনা-</span><br>
                <span>Did the harvested crop brought to the local collection center?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isCropBroughtLCC" ngModel>
                    <label class="form-check-label" for="brought-lcc-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isCropBroughtLCC" ngModel>
                    <label class="form-check-label" for="brought-lcc-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; লোকাল কালেকশন সেন্টারে প্রিকোলিং ব্যবস্থা আছে কিনা-</span><br>
                <span>Does pre cooling facility available on local collection center?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isPreCoolingSystem" ngModel>
                    <label class="form-check-label" for="precooling-exist-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isPreCoolingSystem" ngModel>
                    <label class="form-check-label" for="precooling-exist-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; ফিল্ড থেকে হাইজেনিক উপায়ে ফসল লোকাল কালেকশন সেন্টারে আনা হয়েছে কিনা-</span><br>
                <span>Did hygenic procedure maintained during transporting of harvested betel leaf from field to local collection center?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isHygienicTransporting" ngModel>
                    <label class="form-check-label" for="hygenic-transporting-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isHygienicTransporting" ngModel>
                    <label class="form-check-label" for="hygenic-transporting-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; ফিল্ড থেকে কালেকশন সেন্টারে আনার জন্য কোন ধরনের ট্রান্সপোর্ট ব্যবহার করা হয়েছে?</span><br>
                <span>Which transportation used for transporting harvested betel leaf from field to collection center?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Open"
                        name="transportation" ngModel>
                    <label class="form-check-label" for="shaded">
                        <span>খোলা ভ্যান <br>
                            Open Van</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Cover"
                        name="transportation" ngModel>
                    <label class="form-check-label" for="sunny">
                        <span>কভার ভ্যান<br>
                            Cover Van</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; লোকাল কালেকশন সেন্টারে প্রাইমারী সর্টিং এবং গ্রেডিং হয়েছিল কিনা-</span><br>
                <span>Did secondary grading done on local collection center?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isSeconddaryGrading" ngModel>
                    <label class="form-check-label" for="secondary-grading-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isSeconddaryGrading" ngModel>
                    <label class="form-check-label" for="secondary-grading-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; কালেকশন সেন্টারে শীততাপ নিয়ন্ত্রন ব্যবস্থা আছে কিনা-</span><br>
                <span>Is collection center air conditioned?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isAirConditioned" ngModel>
                    <label class="form-check-label" for="air-conditioned-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isAirConditioned" ngModel>
                    <label class="form-check-label" for="air-conditioned-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; লোকাল কালেকশন সেন্টারে কত সময় রাখা হয়েছিল-</span><br>
                <span>How much time harvested crop kept to local collection center?</span>
            </div>
            <div class="flex-container gap-4">
                <div class="col-4 col-sm-4 text-center">
                    <label for="hours" class="form-label">
                        <span> ঘন্টা<br>
                        Hours</span></label>
                    <input name="hour" type="number" class="form-control" id="hour" ngModel>
                  </div>
                  <div class="col-4 col-sm-4 text-center">
                    <label for="minutes" class="form-label">                        
                        <span>মিনিট<br>
                        Minutes</span></label>
                    <input name="minutes" type="number" class="form-control" id="minute" ngModel>
                  </div>
            </div>
        </div>
    </div>


    <div class="text-center mb-4">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>