<form #quarantineControlForm="ngForm" (ngSubmit)="onSubmitQuarantineControlMeasure(quarantineControlForm.value)">
    <div id="quarantine-control-page" class="border border-secondary bg-light m-5 p-2">
        <div id="quarantine-control-measure-box">
            <h2 class="text-center fs-3">
                ৬. কোয়ারেন্টাইন পোকা ও রোগ দমন<br>
                6. Quarantine Pests and Diseases
            </h2>
        </div>
        <hr>
        <div id="pests-and-diseases-box" class="container text-center w-50">
            <div class="row bg-success-subtle">
                <div class="col border border-secondary border-end-0 p-2">
                    <span class="fs-6">কোয়ারেন্টাইন পেষ্ট এবং রোগ</span>
                </div>
                <div class="col border border-secondary p-2">
                    <span class="fs-6">Quarantine Pests and Diseases</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between single-info-line mt-4 mb-2">
            <div class="form-check">
                <span>&#x2022; এলাকা ভিত্তিক ফসল অনুযায়ী কোয়ারেন্টাইন পোকা ও রোগের তালিকা করা আছে কিনা-</span><br>
                <span>Is there any list of Qurantine Pests and Diseases for selected crops of selecetd locations?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="location-quarantine-list-yes" [value]=true
                        name="isQuarantinePestDisese" ngModel>
                    <label class="form-check-label" for="location-quarantine-list-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="location-quarantine-list-no" [value]=false
                        name="isQuarantinePestDisese" ngModel>
                    <label class="form-check-label" for="location-quarantine-list-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; নির্বাচিত ফসলের পেস্টরিস্ক এনালাইসিস করা আছে কিনা-</span><br>
                <span>Any Pest risk analysis has done for the selected crop?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="pest-risk-yes" [value]=true
                        name="isPestRiskAnalysis" ngModel>
                    <label class="form-check-label" for="pest-risk-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="pest-risk-no" [value]=false
                        name="isPestRiskAnalysis" ngModel>
                    <label class="form-check-label" for="pest-risk-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="row single-info-line mt-2 mb-2">
            <div class="form-check col-9">
                <span>&#x2022; কত দিন আগে নির্বাচিত ফসলের পোকা ও রোগের তালিকা করা হয়েছিল?</span><br>
                <span>When pest risk analysis has done for the selected crop?</span>
            </div>
            <div class="flex-container gap-3 col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="last-analysis-6mo" [value]=6
                        name="pestRiskAnalysis" ngModel>
                    <label class="form-check-label" for="last-analysis-6mo">
                        <span> ৬ মাস <br>
                            6 month</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input col" type="radio" id="last-analysis-1y" [value]=12
                        name="pestRiskAnalysis" ngModel>
                    <label class="form-check-label" for="last-analysis-1y">
                        <span>১ বছর<br>
                            1 Year</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="last-analysis-3y" [value]=36
                        name="pestRiskAnalysis" ngModel>
                    <label class="form-check-label" for="last-analysis-3y">
                        <span>৩ বছর<br>
                            3 Years</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!--------------------------------------------------------
            Name of Quarantine Pests for Selected Crops Box
    --------------------------------------------------------->

    <div class="border border-secondary bg-light m-5 p-2">
        <div id="quarantine-pest-box" class="container text-center w-50">
            <div class="row bg-success-subtle">
                <div class="col border border-secondary border-end-0 p-2">
                    <span class="fs-6">নির্বাচিত ফসলের কোয়ারেন্টাইন পেষ্ট এর নাম</span>
                </div>
                <div class="col border border-secondary p-2">
                    <span class="fs-6">Name of Quarantine Pests for Selected Crops</span>
                </div>
            </div>
        </div>
        <div class=" text-center align-items-center ">
            <div class="flex-container form-check text-center col-12 m-4">
                <label for="purifying-agent-local">
                    <span class="mt-2"> সব্জির নাম:<br>
                        Vegetable:</span>
                </label>
                <input class="mt-2 w-50 text-box form-control" type="text" ngModel name="vegetableName">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr *ngFor="let row of rowPestNameData; let i = index">
                        <td class="text-center">
                            <ng-container [ngSwitch]="i">
                                <span *ngSwitchCase="0">পোকার নাম </span>
                                <span *ngSwitchCase="1">আম - Mango <br> পোকার নাম</span>
                                <span *ngSwitchCase="2">পান - Betel Leaf <br> পোকার নাম</span>
                            </ng-container>
                        </td>
                        <td><input type="text" [(ngModel)]="row.Pest1" name="firstPestRow{{i + 1}}"></td>
                        <td><input type="text" [(ngModel)]="row.Pest2" name="secondPestRow{{i + 1}}"></td>
                        <td><input type="text" [(ngModel)]="row.Pest3" name="thirdPestRow{{i + 1}}"></td>
                        <td><input type="text" [(ngModel)]="row.Pest4" name="fourthPestRow{{i + 1}}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-----------------------------------------------------
        Name of Quarantine Diseases for Selected Crops Box
    ------------------------------------------------------>

    <div class="border border-secondary bg-light m-5 p-2">
        <div id="quarantine-diseases-box" class="container text-center w-50">
            <div class="row bg-success-subtle">
                <div class="col border border-secondary border-end-0 p-2">
                    <span class="fs-6">নির্বাচিত ফসলের কোয়ারেন্টাইন রোগের নাম</span>
                </div>
                <div class="col border border-secondary p-2">
                    <span class="fs-6">Name of Quarantine Diseases for Selected Crops</span>
                </div>
            </div>
        </div>
        <div class="table-responsive mt-4">
            <table class="table">
                <tbody>
                    <tr *ngFor="let row of rowDiseasesNameData; let i = index">
                        <td class="text-center">
                            <ng-container [ngSwitch]="i">
                                <span *ngSwitchCase="0">সবজি <br> Vegetable </span>
                                <span *ngSwitchCase="1">আম <br> Mango</span>
                                <span *ngSwitchCase="2">পান <br> Betel Leaf</span>
                            </ng-container>
                        </td>
                        <td><input type="text" [(ngModel)]="row.Diseases1" name="firstDiseasesRow{{i + 1}}"></td>
                        <td><input type="text" [(ngModel)]="row.Diseases2" name="secondDiseasesRow{{i + 1}}"></td>
                        <td><input type="text" [(ngModel)]="row.Diseases3" name="thirdDiseasesRow{{i + 1}}"></td>
                        <td><input type="text" [(ngModel)]="row.Diseases4" name="fourthDiseasesRow{{i + 1}}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-----------------------------
         Control Measures Box
    ------------------------------>

    <div class="border border-secondary bg-light m-5 p-2">
        <div id="control-measures-box" class="container text-center w-50">
            <div class="row bg-success-subtle">
                <div class="col border border-secondary border-end-0 p-2">
                    <span class="fs-6">দমন</span>
                </div>
                <div class="col border border-secondary p-2">
                    <span class="fs-6">Control Measures</span>
                </div>
            </div>
        </div>
        <div class="form-check mt-4">
            <span>&#x2022; পোকা ও রোগ দমনে কোন কোন পদ্ধতি ব্যবহার করা হয়-</span><br>
            <span>Which techniques used for controlling pests and diseases?</span>
        </div>
        <div class="row m-2 px-5 pt-2">
            <div class="form-check col">
                <input class="form-check-input" type="checkbox" name="physical"
                    [(ngModel)]="checkedTechniques.Physical"
                    (change)="onTechniqueSelectionChange($event, 'Physical')">
                <label class="form-check-label" for="technique-type-physical">
                    <span>ফিজিক্যাল <br>
                        Physical</span>
                </label>
            </div>
            <div class="form-check col">
                <input class="form-check-input" type="checkbox" name="organic"
                    [(ngModel)]="checkedTechniques.Chemical" (change)="onTechniqueSelectionChange($event, 'Chemical')">
                <label class="form-check-label" for="technique-type-physical">
                    <span> রাসায়নিক <br>
                        Chemical</span>
                </label>
            </div>
            <div class="form-check col">
                <input class="form-check-input" type="checkbox" name="biological"
                    [(ngModel)]="checkedTechniques.Biological"
                    (change)="onTechniqueSelectionChange($event, 'Biological')">
                <label class="form-check-label" for="technique-type-biological">
                    <span>বায়োলজিকাল<br>
                        Biological</span>
                </label>
            </div>
            <div class="form-check col">
                <input class="form-check-input" type="checkbox" name="mechanical"
                    [(ngModel)]="checkedTechniques.Mechanical"
                    (change)="onTechniqueSelectionChange($event, 'Mechanical')">
                <label class="form-check-label" for="technique-type-mechanical">
                    <span> ম্যাকানিকাল<br>
                        Mechanical</span>
                </label>
            </div>
            <div class="form-check col">
                <input class="form-check-input" type="checkbox" name="bio-pesticide"
                    [(ngModel)]="checkedTechniques.BioPesticide"
                    (change)="onTechniqueSelectionChange($event, 'Bio Pesticide')">
                <label class="form-check-label" for="technique-type-bio-pesticide">
                    <span> বায়োপেস্টিসাইড<br>
                        Bio Pesticide</span>
                </label>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; উপোরোক্ত সকল পদ্ধতির সমন্বয়-  </span><br>
                <span>Integration of all above mentioned techniques?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="all-technique-yes" [value]=true
                        name="isIntegration" ngModel>
                    <label class="form-check-label" for="all-technique-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="all-technique-no" [value]=false
                        name="isIntegration" ngModel>
                    <label class="form-check-label" for="all-technique-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; ২/৩ টির সমন্বয় </span><br>
                <span>Integration of Just two/three-</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="some-technique-yes" [value]=true
                        name="isIntegrationTwoThree" ngModel>
                    <label class="form-check-label" for="some-technique-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="some-technique-no" [value]=false
                        name="isIntegrationTwoThree" ngModel>
                    <label class="form-check-label" for="some-technique-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!---------------------------------
        Organic Pesticide Table Box
    ---------------------------------->

    <div class="border border-secondary bg-light m-5 p-2">
        <div id="organic-pesticide-box" class="container text-center w-50">
            <div class="row bg-success-subtle">
                <div class="col border border-secondary border-end-0 p-2">
                    <span class="fs-6">জৈব কীটনাশক</span>
                </div>
                <div class="col border border-secondary p-2">
                    <span class="fs-6">Organic Pesticde</span>
                </div>
            </div>
        </div>
        <div class="table-responsive mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center" *ngFor="let head of tableHeadPesticide">{{ head }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of rowOrganicPesticideName; let i = index">
                        <td class="text-center">
                            <ng-container [ngSwitch]="i">
                                <span *ngSwitchCase="0">সবজি <br> Vegetable </span>
                                <span *ngSwitchCase="1">আম <br> Mango</span>
                                <span *ngSwitchCase="2">পান <br> Betel Leaf</span>
                                <span *ngSwitchCase="3">Others</span>
                            </ng-container>
                        </td>
                        <td><input class="form-control" type="date" [(ngModel)]="row.OrganicPesticide1" name="firstOrganicPesticideRow{{i + 1}}"></td>
                        <td><input type="text" [(ngModel)]="row.OrganicPesticide2" name="secondOrganicPesticideRow{{i + 1}}"></td>
                        <td><input type="number" [(ngModel)]="row.OrganicPesticide3" name="thirdOrganicPesticideRow{{i + 1}}"></td>
                        <td><input class="form-control" type="date" [(ngModel)]="row.OrganicPesticide4" name="fourthOrganicPesticideRow{{i + 1}}"></td>
                        <td><input type="text" [(ngModel)]="row.OrganicPesticide5" name="fifthOrganicPesticideRow{{i + 1}}"></td>
                        <td><input type="number" [(ngModel)]="row.OrganicPesticide6" name="sixthOrganicPesticideRow{{i + 1}}"></td>
                        <td><input class="form-control" type="date" [(ngModel)]="row.OrganicPesticide7" name="seventhOrganicPesticideRow{{i + 1}}"></td>
                        <td><input type="text" [(ngModel)]="row.OrganicPesticide8" name="eighthOrganicPesticideRow{{i + 1}}"></td>
                        <td><input type="number" [(ngModel)]="row.OrganicPesticide9" name="ninthOrganicPesticideRow{{i + 1}}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--------------------------------
        Chemical Pesticide Box
    --------------------------------->

    <div class="border border-secondary bg-light m-5 p-2">
        <div id="chemical-pesticide-box" class="container text-center w-50">
            <div class="row bg-success-subtle">
                <div class="col border border-secondary border-end-0 p-2">
                    <span class="fs-6">রাসায়নিক কীটনাশক</span>
                </div>
                <div class="col border border-secondary p-2">
                    <span class="fs-6">Chemical Pesticde</span>
                </div>
            </div>
        </div>
        <div class="table-responsive mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center" *ngFor="let head of tableHeadPesticide">{{ head }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of rowChemicalPesticideName; let i = index">
                        <td class="text-center">
                            <ng-container [ngSwitch]="i">
                                <span *ngSwitchCase="0">সবজি <br> Vegetable </span>
                                <span *ngSwitchCase="1">আম <br> Mango</span>
                                <span *ngSwitchCase="2">পান <br> Betel Leaf</span>
                                <span *ngSwitchCase="3">Others</span>
                            </ng-container>
                        </td>
                        <td><input class="form-control" type="date" [(ngModel)]="row.ChemicalPesticide1" name="firstChemicalPesticideRow{{i + 1}}"></td>
                        <td><input type="text" [(ngModel)]="row.ChemicalPesticide2" name="secondChemicalPesticideRow{{i + 1}}"></td>
                        <td><input type="number" [(ngModel)]="row.ChemicalPesticide3" name="thirdChemicalPesticideRow{{i + 1}}"></td>
                        <td><input class="form-control" type="date" [(ngModel)]="row.ChemicalPesticide4" name="fourthChemicalPesticideRow{{i + 1}}"></td>
                        <td><input type="text" [(ngModel)]="row.ChemicalPesticide5" name="fifthChemicalPesticideRow{{i + 1}}"></td>
                        <td><input type="number" [(ngModel)]="row.ChemicalPesticide6" name="sixthChemicalPesticideRow{{i + 1}}"></td>
                        <td><input class="form-control" type="date" [(ngModel)]="row.ChemicalPesticide7" name="seventhChemicalPesticideRow{{i + 1}}"></td>
                        <td><input type="text" [(ngModel)]="row.ChemicalPesticide8" name="eighthChemicalPesticideRow{{i + 1}}"></td>
                        <td><input type="number" [(ngModel)]="row.ChemicalPesticide9" name="ninthChemicalPesticideRow{{i + 1}}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-----------------------------------
            Fungicide Bactericide
    ------------------------------------>
    <div class="border border-secondary bg-light m-5 p-2">
        <div id="fungicide-bactericide-box" class="container text-center w-50">
            <div class="row bg-success-subtle">
                <div class="col border border-secondary border-end-0 p-2">
                    <span class="fs-6">ছত্রাকনাশক ও ব্যাকটিরিয়া-নাশক</span>
                </div>
                <div class="col border border-secondary p-2">
                    <span class="fs-6">Fungicide Bactericide</span>
                </div>
            </div>
        </div>
        <div class="table-responsive mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center" *ngFor="let head of tableHeadPesticide">{{ head }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of rowFungicidePesticideName; let i = index">
                        <td class="text-center">
                            <ng-container [ngSwitch]="i">
                                <span *ngSwitchCase="0">সবজি <br> Vegetable </span>
                                <span *ngSwitchCase="1">আম <br> Mango</span>
                                <span *ngSwitchCase="2">পান <br> Betel Leaf</span>
                                <span *ngSwitchCase="3">Others</span>
                            </ng-container>
                        </td>
                        <td><input class="form-control" type="date" [(ngModel)]="row.FungicidePesticide1" name="firstFungicidePesticideRow{{i + 1}}"></td>
                        <td><input type="text" [(ngModel)]="row.FungicidePesticide2" name="secondFungicidePesticideRow{{i + 1}}"></td>
                        <td><input type="number" [(ngModel)]="row.FungicidePesticide3" name="thirdFungicidePesticideRow{{i + 1}}"></td>
                        <td><input class="form-control" type="date" [(ngModel)]="row.FungicidePesticide4" name="fourthFungicidePesticideRow{{i + 1}}"></td>
                        <td><input type="text" [(ngModel)]="row.FungicidePesticide5" name="fifthFungicidePesticideRow{{i + 1}}"></td>
                        <td><input type="number" [(ngModel)]="row.FungicidePesticide6" name="sixthFungicidePesticideRow{{i + 1}}"></td>
                        <td><input class="form-control" type="date" [(ngModel)]="row.FungicidePesticide7" name="seventhFungicidePesticideRow{{i + 1}}"></td>
                        <td><input type="text" [(ngModel)]="row.FungicidePesticide8" name="eighthFungicidePesticideRow{{i + 1}}"></td>
                        <td><input type="number" [(ngModel)]="row.FungicidePesticide9" name="ninthFungicidePesticideRow{{i + 1}}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

 <!-----------------------------------------------------------
        Proper Management of quarantine insect and diseases
 ------------------------------------------------------------>

    <div class="border border-secondary bg-light m-5 p-2">
        <div id="proper-management-box" class="container text-center w-50">
            <div class="row bg-success-subtle">
                <div class="col border border-secondary border-end-0 p-2">
                    <span class="fs-6">কোয়ারেন্টাইন পোকা ও রোগ দমনের সঠিক ব্যাবস্থাপনা</span>
                </div>
                <div class="col border border-secondary p-2">
                    <span class="fs-6">Proper Management of quarantine insect and diseases</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between single-info-line mt-4 mb-2">
            <div class="form-check">
                <span>&#x2022; কোন ধরনের রোগ ও পোকা মাকড় দ্বারা ফসল আক্রান্ত হয়েছে সনাক্ত করা হয়েছে কিনা-</span><br>
                <span>Does pests and diseases identify that infested and infected the crop most?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="identified-yes" [value]=true
                        name="isIdentify" ngModel>
                    <label class="form-check-label" for="identified-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="identified-no" [value]=false
                        name="isIdentify" ngModel>
                    <label class="form-check-label" for="identified-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; পোকা ও রোগ দমনে কৃষি সম্প্রসারণ কর্মকর্তা ও বিশেষজ্ঞের মতামত নেয়া হয়ছে কিনা-</span><br>
                <span>Did the advices and suggestions taken from Agricultural Extension Officer and Other Experts for controlling of pests and diseases?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="suggestion-taken-yes" [value]=true
                        name="isSuggestionsTaken" ngModel>
                    <label class="form-check-label" for="suggestion-taken-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="suggestion-taken-no" [value]=false
                        name="isSuggestionsTaken" ngModel>
                    <label class="form-check-label" for="suggestion-taken-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; নির্বাচিত ফসলে ফেরোমোন ট্র্যাপ ব্যবহার করা হয়ছে কিনা-</span><br>
                <span>Did pheromone traps were used?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isPheromoneUsed" ngModel>
                    <label class="form-check-label" for="pheromone-used-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isPheromoneUsed" ngModel>
                    <label class="form-check-label" for="pheromone-used-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="row single-info-line mt-2 mb-2">
            <div class="form-check col-9">
                <span>&#x2022; ফেরোমোন ট্র্যাপ কখন দেয়া হয়েছে</span><br>
                <span>When pheromone traps were used?</span>
            </div>
            <div class="flex-container gap-3 col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Before"
                        name="pheromoneUsedTime" ngModel>
                    <label class="form-check-label" for="before-fruit">
                        <span> ফল আসার আগে <br>
                            Before Fruit Set</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input col" type="radio" value="After"
                        name="pheromoneUsedTime" ngModel>
                    <label class="form-check-label" for="after-fruit">
                        <span>ফুল আসার আগে<br>
                            After Fruit Set</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; ফসল স্পেসিফিক সঠিক ট্র্যাপ ব্যবহার করা হয়েছে কিনা?</span><br>
                <span>Does used pheromone trap for the right crop?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isCropPheromoneUsed" ngModel>
                    <label class="form-check-label" for="right-pheromone-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isCropPheromoneUsed" ngModel>
                    <label class="form-check-label" for="right-pheromone-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; ফেরোমোন ট্র্যাপের পাশাপাশি রাসায়নিক কিটনাশক ব্যবহার করা হয়েছে কিনা-</span><br>
                <span>Does any chemical pesticide used beside pheromone trap?</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isChemicalPesticideUsed" ngModel>
                    <label class="form-check-label" for="chemical-used-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isChemicalPesticideUsed" ngModel>
                    <label class="form-check-label" for="chemical-used-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between single-info-line mt-2 mb-2">
            <div class="form-check">
                <span>&#x2022; গাছ দ্রুত বৃদ্ধির জন্য হরমোন ব্যবহার করা হয়ছে কিনা-</span><br>
                <span>Does any hormone used for quick amplification of crop??</span>
            </div>
            <div class="flex-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=true
                        name="isHormonesUsed" ngModel>
                    <label class="form-check-label" for="hormone-used-yes">
                        <span>হ্যা <br>
                            Yes</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]=false
                        name="isHormonesUsed" ngModel>
                    <label class="form-check-label" for="hormone-used-no">
                        <span>না<br>
                            No</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!------------------------
        Vegetables Box
    ------------------------->


    <div class="text-center mb-4">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
